<aside>
  <h3 class="logo">
    Distance <br />
    School
  </h3>
  <div class="links">
    <a
      [routerLink]="['/', link.name]"
      *ngFor="let link of sidebar"
      class="link"
      routerLinkActive="link--active"
    >
      <div class="link_icon fas" [ngClass]="link.icon"></div>
      <div class="link_title">{{ link.name + '.title' | translate }}</div>
    </a>
  </div>
</aside>
<div class="content">
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="change-lang">
      <div
        *ngFor="let lang of langs"
        [ngClass]="{ 'lang--active': isLangActive(lang) }"
        (click)="setLang(lang)"
        class="lang"
      >
        {{ 'langs.' + lang | translate }}
      </div>
    </div>
  </footer>
</div>
